{% extends "layout.html" %}
{% block content %}
<h2 class="text-center">Query Earthquakes by Date and Magnitude</h2>

<form method="post" class="row g-3 mt-4">
  <div class="col-md-6">
    <label>Start Date</label>
    <input type="date" name="start_date" class="form-control" required>
  </div>
  <div class="col-md-6">
    <label>End Date</label>
    <input type="date" name="end_date" class="form-control" required>
  </div>

  <div class="col-md-6">
    <label>Minimum Magnitude</label>
    <input type="number" step="0.1" name="min_mag" class="form-control" value="0">
  </div>
  <div class="col-md-6">
    <label>Maximum Magnitude</label>
    <input type="number" step="0.1" name="max_mag" class="form-control" value="10">
  </div>

  <div class="col-12 text-center">
    <button type="submit" class="btn btn-success mt-3">Query</button><br>
    <a href="/" class="btn btn-secondary mt-3">Back to Home</a>
  </div>
</form>
{% endblock %}

